body {
  padding: 30px 50px;
  background-color: rgb(197, 196, 196, 0.8);
}

#data {
  height: 30vh;
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 100px;
}

#data:first-of-type {
  text-transform: capitalize;
}

a {
  font-size: 22px;
  color: rgb(15, 58, 15);
}
