/* Common styles */

main {
  padding-left: 40px;
  padding-bottom: 10px;
}

.container,
.header,
.nav {
  max-width: 100%;
}

.container {
  display: block;
}

button,
input,
textarea {
  cursor: pointer;
}

header {
  width: 98%;
  height: fit-content;
  padding: 1%;
  display: inline-block;
  align-items: stretch;
}

figure {
  width: 140px;
  height: 100px;
}

figure > img {
  width: 115px;
  height: 80px;
}

h1 {
  margin-top: 0;
  height: 100%;
  color: rgba(0, 61, 0, 0.779);
  float: inline-end;
}

.header-title-h1 {
  padding: 2px;
  margin-bottom: 0%;
}

.footer {
  width: 98%;
  height: fit-content;
  padding: 1%;
  display: inline-block;
  align-items: stretch;
}

.footer-paragraph-copyright {
  font-size: 15px;
  margin-top: 0;
}

.footer-social__selector {
  float: inline-end;
}

/* Nav */

nav {
  background-color: rgb(255, 187, 85, 0.2);
  margin-top: auto;
  padding-left: 25vw;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: rgba(0, 61, 0, 0.779);
  font-size: 18px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#book-tours {
  display: inline-block;
}

.deals-selector {
  margin: 10px;
}

/* Section Book Tours */

input,
textarea {
  display: block;
  margin: 5px;
}

#booktours {
  height: fit-content;
  display: inline-flex;
}

.section-tours-img {
  width: 700px;
  height: 360px;
}

.book-tours-left-section {
  height: fit-content;
  width: 35vw;
  float: inline-start;
  padding: 10px 0 5px 10px;
  margin-right: 10vw;
}

.book-tours-right-section {
  height: fit-content;
  width: 35vw;
  float: inline-start;
  padding: 10px 0 5px 10px;
  margin-left: 10px;
}

.book-tours-btn {
  display: inline-block;
  outline: none;
  cursor: pointer;
  border-radius: 500px;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 140px;
  text-transform: uppercase;
  white-space: normal;
  text-align: center;
  padding: 10px 7px 9px;
  color: #fff;
  background-color: #15883e;
  height: 40px;
}

/* Section Deals */

#deals {
  display: inline-block;
}

/* Table with deals*/
table,
th,
td {
  border: 1px green solid;
}

table {
  width: 92vw;
}

del {
  color: rgb(202, 8, 8);
}

/* Colors */
header,
footer {
  background: linear-gradient(rgb(58, 210, 240), rgb(161, 252, 161));
}

main {
  background-color: rgb(255, 187, 85, 0.2);
}

button {
  background-color: rgb(2, 65, 44);
  color: white;
}

h2 {
  color: rgb(33, 74, 38, 60);
}

/* CSS Selectors */

input:valid {
  border: 2px solid green;
}

input:invalid {
  border: 2px solid red;
}

.book-tours-btn:hover {
  box-shadow: 0 13px 17px 0 rgba(2, 255, 124, 0.3),
    0 18px 52px 0 rgba(2, 255, 124, 0.19);
}

p::first-letter {
  font-size: 20px;
}

p::selection {
  color: white;
  background-color: rgb(61, 59, 59);
}
