/* Common styles */

main {
  margin-left: auto;
  margin-right: auto;
}

.container,
.header,
.nav {
  max-width: 100%;
}

.container {
  display: block;
  margin-top: 20px;
}

header {
  height: fit-content;
}

h1 {
  margin-top: 0;
}

.footer-paragraph-copyright {
  font-size: 15px;
  margin-top: 0;
}

.header-title-h1 {
  padding: 2px;
  margin-bottom: 0%;
}

/* Nav */

nav {
  background-color: rgb(255, 187, 85, 0.2);
  margin-top: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: rgba(0, 61, 0, 0.779);
  font-size: 18px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#book-tours {
  display: inline-block;
}

/* Colors */
header,
footer {
  background: linear-gradient(rgb(58, 210, 240), rgb(38, 109, 38));
}

main {
  background-color: rgb(255, 187, 85, 0.2);
}

button {
  background-color: rgb(2, 65, 44);
  color: white;
}

h2 {
  color: rgb(33, 74, 38, 60);
}

/* Table with deals*/
table,
th,
td {
  border: 1px green solid;
}
